@CHARSET "ISO-8859-1";

.clearfix:after { 
    visibility: hidden; display: block; font-size: 0; 
    content: " "; clear: both; height: 0; 
}

html, body{
	width:100%;
	height:100%;
	background: #c6e2ff;
}

hr.style1 { 
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px; 
} 

button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
}

#header{
    margin: 0 auto;
	width: 100%;
	padding:0px;
	overflow:hidden;
	float: left;
	text-align: center;
}

#header h1 {
    font: 38px sans-serif;
}

#header h2 {
    font: 20px sans-serif;
}

#title {
    width: 100%;
    clear: both;
    height: 60px;
    font: 50px sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    vertical-align: bottom;
    line-height: 80px;
}

input[type=checkbox] {
  transform: scale(2.5);
}

.checkboxtext {
  font: 40px sans-serif;
}

.chart-title {
	font: 26px sans-serif;
	text-align: center;
}

text.highlight-label {
    transform: translate(50,0);
    font-size: 30px;
    opacity: 0;
}

text.highlight-label.visible {
    opacity: 1;
}

path.route.selected {
    fill: #66cd00;
    stroke: #66cd00;
    opacity: 0.8;
}

div.chart {
	text-align: center;
}

.bar-label {
  	fill: black;
  	text-anchor: middle;
	alignment-baseline: middle;
	font-family: sans-serif;
	font-weight: bold;
}

.square-label {
	fill: black;
  	text-anchor: middle;
	alignment-baseline: middle;
	font-family: sans-serif;
	font-weight: bold;
}

.axis {
  	font: 40px sans-serif;
}

.axis path,
.axis line {
  	fill: none;
  	stroke: black;
  	shape-rendering: crispEdges;
}

.axis text {
  	font:20px sans-serif;
  	width: 50px;
}

.y.axis text {
	dy: .71em;
	text-anchor: end;
}

.line {
  	fill: none;
  	stroke: orange;
  	stroke-width: 1.5px;
}

.filter,
.button-cont {
    float: left;
    width: 20%;
    padding-left: 30px;
    padding-right: 30px;
    border-right: thick- solid #8c8b8b;
}

path.line {
    fill: none;
    stroke: black;
    stroke-width: 4px;
}